
div {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
h1 {
  font-weight: bold;
  font-size: 24px;
  text-decoration-line: underline;
}
h2 {
  font-size: 22px;
font-weight: bold;
}
h3 {
  font-size: 18px;
  font-style:inherit;
  font-weight: bold;
}

.main-title {
padding: 20px;
font-size: 26px;
font-weight: bolder;
}
.education {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 15px;
}
.music-portfolio {
  font-weight: bolder;
  color: blue;
  font-size: 18px;
}

.work-experience {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 15px;
}
.tic-tac-toe-project {
  font-weight: bolder;
  color: blue;
  font-size: 20px;
}
.my-github {
  font-weight: bolder;
  color: blue;
  font-size: 20px;
}
.weather-app {
  font-weight: bolder;
  color: blue;
  font-size: 20px;
}
