body {
  background-color: rgb(159, 255, 255);
}
div {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-style:inherit;
  font-weight: bold;
}
li, p {
 font-size: 1.2rem;
}
.main-title {
padding: 20px;
font-size: 26px;
font-weight: bolder;
}
.education {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 15px;
}
.work-experience {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 15px;
}
.tic-tac-toe-project, .my-github, .weather-app, .music-portfolio {
  font-weight: bolder;
  color: blue;
  font-size: 25px;
}

