
h1 {
  font-weight: bold;
  font-size: 24px;
  text-decoration-line: underline;
}
h2 {
  font-size: 22px;
font-weight: bold;
}
h3 {
  font-size: 18px;
  font-style:inherit;
  font-weight: bold;
}

.main-title {
  text-align: center;
padding: 20px;
font-size: 24px;
font-weight: bolder;

}
.education {
  float: left;
  padding: 20px;
  width: 49%;
}
.music-portfolio {
  font-weight: bolder;
  color: blue;
  font-size: 18px;
  text-decoration-line: underline;
}

.work-experience {
  display: inline-block;
  padding: 20px;
}
.tic-tac-toe-project {
  font-weight: bolder;
  color: blue;
  font-size: 20px;
  text-decoration-line: underline;
}
.my-github {
  font-weight: bolder;
  color: blue;
  font-size: 20px;
  text-decoration-line: underline;
}